/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import "../style/dialog.css";
@import "../style/lightbox.css";

:root {
    --color-table-outer-border: #b1b1b1;
    --color-table-border: #e0e0e6;
    --color-table-textbox-focused: #61b5ffbf;
    --url-help-icon: url("../img/help.svg");
}

@media (prefers-color-scheme: dark) {
    :root {
	--color-table-outer-border: #737373;
	--color-table-border: #42414d;
	--url-help-icon: url("../img/help-dk.svg");
    }
}

#link-table-labels > label {
    display: inline-block;
}

#link-table-grid table {
    table-layout: fixed;
    border-collapse: collapse;

    display: block;
    width: 100%;
    height: 180px;
    min-height: 180px;
    margin-top: 4px;
    border: 1px solid var(--color-table-outer-border);
    overflow-x: hidden;
    overflow-y: auto;

    font: caption;
    font-size: 13px;
}

#link-table-title {
    width: 256px;
}

#link-table-grid table td {
    border-top: 1px solid var(--color-table-border);
    border-bottom: 1px solid var(--color-table-border);
}

#link-table-grid table td:nth-child(1) {
    min-width: 256px;
    max-width: 256px;
    padding-left: 2px;
    padding-right: 2px;
    border-right: 1px solid var(--color-table-border);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#link-table-grid table td:nth-child(2) {
    width: 100%;
}

#link-table-grid table tr:first-of-type > td {
    border-top: none;
}

#link-table-grid table td > input[type="text"] {
    width: 100%;
    border: none;
    padding-left: 1px;
    padding-right: 1px;
    font-size: 13px;
}

#link-table-grid table td > input[type="text"]::focus {
    box-shadow: unset;
}

#more-btns {
    display: flex;
    position: absolute;
    bottom: 18px;
    left: 16px;
}

#btn-switch-view {
    width: 128px;
}

#btn-help {
    min-width: 32px;
    width: 32px !important;
    margin-right: 14px;

    background-image: var(--url-help-icon);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
}


/*
 * Help dialog
 */

.lightbox {
    border-radius: 6px;
}

.lightbox > .dlg-btns > button {
    height: 32px;
    margin-right: 14px;
    margin-bottom: 4px;
    border-radius: 4px;
    font-size: 13px !important;
}

#help-dlg {
    --width: 600px;
    --height: 260px;
}

#help-dlg .dlg-hdg {
    margin-top: 4px;
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: bold;
}

#help-dlg .dlg-content {
    max-height: 148px;
    overflow-y: auto;
    font-size: 13px;
}
