/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import "../style/dialog.css";
@import "../style/lightbox.css";

:root {
    --color-table-head-bkgd: #eee;
    --color-table-border: #d4d4d4;
    --color-table-textbox-focused: #61b5ffbf;
    --url-help-icon: url("../img/help.svg");
}

@media (prefers-color-scheme: dark) {
    :root {
	--color-table-border: #737373;
	--color-table-head-bkgd: #4a4a4f;
	--url-help-icon: url("../img/help-dk.svg");
    }
}

#link-table-grid table {
    width: 100%;
    font: caption;
    font-size: 13px;
}

#link-table-title {
    width: 256px;
    max-width: 256px;
}

#link-table-href,
#link-table-grid table td:nth-child(2) {
    width: calc(100% - 256px);
}

#link-table-grid table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid var(--color-table-border);
}

#link-table-grid table th {
    font-weight: normal;
    background-color: var(--color-table-head-bkgd);
}

#link-table-grid table th:nth-child(1) {
    border-right: 1px solid var(--color-table-border);
}

#link-table-grid table th,
#link-table-grid table td:not(.link-url) {
    padding-left: 2px;
    padding-right: 2px;
    border-top: 1px solid var(--color-table-border);
    border-bottom: 1px solid var(--color-table-border);
}

#link-table-grid table > tbody {
    display: block;
    height: 184px;
    width: 682px;
    min-height: 184px;
    overflow-x: hidden;
    overflow-y: auto;
}

#link-table-grid table td:nth-child(1) {
    width: 256px;
    max-width: 256px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: 1px solid var(--color-table-border);
}

#link-table-grid table td:nth-child(2) {
    width: 415px;
    max-width: 415px;
    white-space: nowrap;
    overflow: hidden;
}

#link-table-grid table tr:first-of-type > td {
    border-top: none;
}

#link-table-grid table tr:last-of-type > td {
    border-bottom: none;
}

#link-table-grid table td > input[type="text"] {
    width: 100%;
    border: 0;
    padding-left: 1px;
    padding-right: 1px;
}

#link-table-grid table td > input[type="text"]::focus {
    box-shadow: unset;
}

#more-btns {
    display: flex;
    position: absolute;
    bottom: 18px;
    left: 16px;
}

#btn-switch-view {
    width: 128px;
}

#btn-help {
    min-width: 32px;
    width: 32px !important;
    margin-right: 14px;

    background-image: var(--url-help-icon);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
}


/*
 * Help dialog
 */

.lightbox {
    border-radius: 6px;
}

.lightbox > .dlg-btns > button {
    height: 32px;
    margin-right: 14px;
    margin-bottom: 4px;
    border-radius: 4px;
    font-size: 13px !important;
}

#help-dlg {
    --width: 600px;
    --height: 260px;
}

#help-dlg .dlg-hdg {
    margin-top: 4px;
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: bold;
}

#help-dlg .dlg-content {
    max-height: 148px;
    overflow-y: auto;
    font-size: 13px;
}
