/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import "../style/dialog.css";
@import "../style/lightbox.css";

:root {
    --color-table-head-bkgd: #eee;
    --color-table-textbox-focused: #61b5ffbf;
    --url-help-icon: url("../img/help.svg");
}

@media (prefers-color-scheme: dark) {
    :root {
	--color-table-head-bkgd: #4a4a4f;
	--url-help-icon: url("../img/help-dk.svg");
    }
}

#link-table-grid {
    height: 200px;
    overflow-y: scroll;

    font: caption;
    font-size: 13px;
}

#more-btns {
    display: flex;
    position: absolute;
    bottom: 18px;
    left: 16px;
}

#btn-switch-view {
    width: 128px;
}

#btn-help {
    min-width: 32px;
    width: 32px !important;
    margin-right: 14px;

    background-image: var(--url-help-icon);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
}


/*
 * Help dialog
 */

.lightbox {
    border-radius: 6px;
}

.lightbox > .dlg-btns > button {
    height: 32px;
    margin-right: 14px;
    margin-bottom: 4px;
    border-radius: 4px;
    font-size: 13px !important;
}

#help-dlg {
    --width: 600px;
    --height: 260px;
}

#help-dlg .dlg-hdg {
    margin-top: 4px;
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: bold;
}

#help-dlg .dlg-content {
    max-height: 148px;
    overflow-y: auto;
    font-size: 13px;
}
