/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

@import "../style/laf.css";
@import "../style/lightbox.css";


:root {
    --color-pg-bkgd: linear-gradient(135deg, #f9f9fb 0%, #f0f0f4 35%, #e0e0e6 100%);
    --color-main-border: #d9d9d9;
    --color-main-border-shadow: #d7d7db;
    --color-main-bkgd: #fff;
    --color-pref-body: #fefefe;
    --color-fieldset-border: #d7d7db;
    --color-dlg-fieldset-border: #d7d7db;
    --color-about-btn-bkgd: #f9f9fa;
    --color-about-btn-bkgd-hover: #ededf0;
    --color-about-btn-bkgd-active: #d7d7db;
    --color-about-btn-border: #ededf0;
    --color-about-btn-border-hover: #ededf0;
    --color-about-btn: black;
}

@media (prefers-color-scheme: dark) {
    :root {
	--color-pg-bkgd: #1a1a1e;
	--color-main-border: #2a2a2e;
	--color-main-border-shadow: #0c0c0d;
	--color-main-bkgd: #2a2a2e;
	--color-pref-body: #2a2a2e;
	--color-fieldset-border: #4a4a4f;
	--color-dlg-fieldset-border: #585858;
	--color-about-btn-bkgd: #2a2a2e;
	--color-about-btn-bkgd-hover: #38383d;
	--color-about-btn-bkgd-active: #4a4a4f;
	--color-about-btn-border: #4a4a4f;
	--color-about-btn-border-hover: #b1b1b3;
	--color-about-btn: #f9f9fa;
    }
}

html, body {
    height: 100%;
}

body {
    background: var(--color-pg-bkgd);
    color: var(--color-default-text);
    font: caption;
    font-size: 15px;
}

main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    width: 640px;
    margin: 24px auto 0 auto;
    margin: 24px auto 0 auto;
    cursor: inherit;
    border: 1px solid var(--color-main-border);
    border-radius: 4px;
    box-shadow: 0 0 8px 2px var(--color-main-border-shadow);
    background-color: var(--color-main-bkgd);
}

h2 {
    display: inline-block;
    margin-top: 8px;
    margin-right: 6px;
    font-size: 28px;
    font-weight: 200;
    letter-spacing: -0.2px;
}

button:-moz-focusring:not(:disabled) {
    border-color: var(--color-pref-body) !important;
}

#pref-logo {
    order: 1;
    flex: 0 1 auto;
    min-width: 180px;
    margin-top: 24px;
    text-align: center;
}

#pref-body {
    order: 2;
    flex: 1 1 auto;
    border-left: 1px solid var(--color-about-btn-border);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 16px 16px 16px 16px;
    background-color: var(--color-pref-body);
}

#addon-icon {
    width: 96px;
    height: 96px;
}

#hdr-ext-name {
    margin-top: 8px;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}

#about-btn {
    float: right;
    height: unset;
    border: 1px solid var(--color-about-btn-border);
    padding: 2px 8px;
    border-radius: 3px;
    font-size: 11px;
    font-weight: 400;
    background-color: var(--color-about-btn-bkgd);
    color: var(--color-about-btn);
}

#about-btn:hover {
    border-color: var(--color-btn-hover-border);
    background-color: var(--color-about-btn-bkgd-hover);
}

#about-btn:active {   
    border: 1px solid #b1b1b3;
    background-color: var(--color-about-btn-bkgd-active);
}

#dlg-mode-opts {
    margin-bottom: 18px;
    padding-left: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--color-fieldset-border);
}

.desc {
    font-size: 13px;
    margin-bottom: 12px;
}

.indent {
    margin-left: 28px;
}

.row {
    margin-left: 8px;
}

.row.indent.desc {
    margin-left: 23px;
}

.indent .row {
    margin-left: 7px;
}

fieldset .row {
    margin-left: 0;
}

fieldset input[type="radio"] {
    margin-left: 0;
}

#plchldr-delim-opts {
    width: 48px;
}


/*
 * Lightbox dialogs
 */

.lightbox {
    top: 64px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 8px;
}

.lightbox > .dlg-btns {
    bottom: 24px;
    right: 14px;
}

.lightbox > .dlg-btns > button,
.lightbox button {
    min-width: 96px;
    height: 32px;
    padding: 0 24px 0;
    border-radius: 4px;
    font-size: 15px !important;
}

.lightbox button:-moz-focusring:not(:disabled) {
    border-color: var(--color-lb-bkgd) !important;
}

.lightbox .row {
    margin-left: unset;
}

#about-dlg {
    top: 72px;
    --width: 410px;
    --height: 284px;
}

#about-dlg #ext-icon {
    float: left;
    width: 48px;
    height: 48px;
    margin-top: 8px;
    margin-right: 12px;
    background-image: url("../img/icon.svg");
    background-size: contain;
}

#about-dlg > .dlg-content label,
#about-dlg > .dlg-content a {
    font-size: 12px;
}

#about-dlg .about-content-row {
    display: block;
}

#about-dlg hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid var(--color-dlg-fieldset-border);
    border-bottom: 1px solid var(--color-dlg-fieldset-border);
    color: #b1b1b3;
}

#about-dlg #ext-info {
    padding-top: 12px;
}

#about-dlg #ext-name {
    font-size: 17px;
    font-weight: 600;
}

#about-dlg #ext-ver {
    font-size: 11px;
    line-height: 1.5;
}

#about-dlg #ext-desc {
    clear: left;
    padding-top: 12px;
    font-size: 13px;
}

#about-dlg #ext-author {
    margin-right: 4px;
}

#about-dlg #license-link,
#about-dlg #credits label {
    line-height: 18px;
}

#about-dlg #translations-ack[data-locale="de"] {
    letter-spacing: -0.01px;
}

#about-dlg #usr-contrib-cta {
    margin-top: 8px;
}

#about-dlg #usr-contrib-cta[data-locale="de"] {
    letter-spacing: -0.45px;
}

#about-dlg #usr-contrib-cta-hdg {
    font-weight: 600;
}
