/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

@import "../style/laf.css";
@import "../style/lightbox.css";


body {
    background-color: #ededf0;
    font: caption;
    font-size: 13px;
}

main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    width: 640px;
    margin: 24px auto 0 auto;
    background-color: #fff;
}

h2 {
    display: inline-block;
    margin-top: 8px;
    margin-right: 6px;
    font-size: 28px;
    font-weight: 200;
    letter-spacing: -0.2px;
}

#pref-logo {
    order: 1;
    flex: 0 1 auto;
    min-width: 180px;
    margin-top: 24px;
    text-align: center;
}

#pref-body {
    order: 2;
    flex: 1 1 auto;
    border-left: 1px solid #ededf0;
    padding: 16px 16px 16px 16px;
    background-color: #fefefe;
    font-size: 15px;
}

#addon-icon {
    width: 96px;
    height: 96px;
}

#hdr-ext-name {
    margin-top: 8px;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}

#about-btn {
    float: right;
    height: unset;
    font-size: 11px;
}

#dlg-mode-opts {
    margin-bottom: 18px;
    padding-left: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #b1b1b1;
}

.desc {
    font-size: 13px;
    margin-bottom: 12px;
}

.indent {
    margin-left: 28px;
}

.row {
    margin-left: 8px;
}

.row.indent.desc {
    margin-left: 23px;
}

.indent .row {
    margin-left: 7px;
}

fieldset .row {
    margin-left: 0;
}

fieldset input[type="radio"] {
    margin-left: 0;
}


/*
 * Dialogs
 */

#about-dlg {
    top: 72px;
    --width: 410px;
    --height: 284px;
}

#about-dlg #ext-icon {
    float: left;
    width: 48px;
    height: 48px;
    margin-top: 8px;
    margin-right: 12px;
    background-image: url("../img/icon.png");
    background-size: contain;
}

#about-dlg > .dlg-content label,
#about-dlg > .dlg-content a {
    font-size: 12px;
}

#about-dlg .about-content-row {
    display: block;
}

#about-dlg hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid var(--color-dlg-fieldset-border);
    border-bottom: 1px solid var(--color-dlg-fieldset-border);
    color: #b1b1b3;
}

#about-dlg #ext-info {
    padding-top: 12px;
}

#about-dlg #ext-name {
    font-size: 17px;
    font-weight: 600;
}

#about-dlg #ext-ver {
    font-size: 11px;
    line-height: 1.5;
}

#about-dlg #ext-desc {
    clear: left;
    padding-top: 12px;
    font-size: 13px;
}

#about-dlg #ext-author {
    margin-right: 4px;
}

#about-dlg #credits label {
    line-height: 18px;
}

#about-dlg #translations-ack[data-locale="de"] {
    letter-spacing: -0.01px;
}

#about-dlg #usr-contrib-cta {
    margin-top: 8px;
}

#about-dlg #usr-contrib-cta[data-locale="de"] {
    letter-spacing: -0.45px;
}

#about-dlg #usr-contrib-cta-hdg {
    font-weight: 600;
}
